@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
.u-backtop{
  cursor: pointer;
  position: fixed;
  right: $backtop-right;
  bottom: $backtop-bottom;
  z-index: $zindex-backtop;
  background: $backtop-background;
  color: $backtop-color;
  padding: $back-top-padding;
}